@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat&display=swap');

*{
    margin: o;
    padding: 0;
    border: none;
}

body{
    background-color: blue
    font-family: Calistoga
}