@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: Calistoga;
    font-size: 1rem;
    color: #495867;
}

/* style navigation links */

.nav-area {
    letter-spacing: 0.2rem;
    background-color: #495867;
    padding: 1rem;
    position: fixed;
    width: 100%;
}

.nav-area ul {
    margin-right: 5%;
    text-align: right;
}

.nav-area li {
    display: inline;
    list-style-type: none;
    margin: 30PX;
}

.nav-area a {
    text-decoration: none;
    width: 100%;
    text-transform: uppercase;
    font-family: Calistoga, sans-serif;
    color: #F7F7FF;
}

.nav-area a:hover {
    color: #FE5F55
}

/* main image and website name */

.main-image {
    background:linear-gradient(to bottom, #00000083,#0001), url("../images/main-image-5850470.jpg") no-repeat center center/cover;
    height: 60vh;
    width: 100%;
    padding-top: 15%;
}

.main-text {
    padding: 10% 10%;
    color: #F7F7FF;
    font-size: 2.5rem;
    font-family: Calistoga, sans-serif;
    text-transform: uppercase;
    width: 20%;
}

/* Our history area */

#h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.about-heading {
    font-family: Calistoga, sans-serif;
    font-size: 2.5rem;
    text-decoration: underline;
    width: auto;

}

.about-us {
    width: 100%;
    margin-top: 1.25rem;
}

/* display:flex*/

.about-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: min-content;
}

.about-text {
    font-family: Montserrat, Arial;
    padding: 50px 20px;
    width: 40%;
    line-height: 2rem;
    height: auto
}

.about-image {
    width: 40%;
    max-height: 30rem;
    object-fit: cover;
}

/*Recipe and method area*/

.recipe-section {
    margin-left: 0;
    padding: 20px;
    text-align: start;
}


.heading-1 {
    font-size: 2.5rem;
    font-family: Calistoga, sans-serif;
    text-decoration: underline;
}

.text {
    font-family: Montserrat, Arial;
    font-size: 100%;
    margin: 0.6rem 0;
    line-height: 2rem;
}

ul li, ol li {
    margin-left: 1.2rem;
}

.heading-3 {
    font-size: 1.5rem;
    font-family: Calistoga, sans-serif;
    text-decoration: underline;
}

/* video area */

.iframe-container {
    margin-top: 1.3rem;
    text-align: center;
}

.iframe {
    aspect-ratio: 16 / 9;
    height: 50%;
    width: 50%;
}


.heading-4 {
    font-size: 1.5rem;
    font-family: Calistoga, sans-serif;
    text-decoration: underline;
    padding-bottom: 0.3rem;
}

/* Sign Up Form */

.signup-heading {
    margin-left: 1.6rem;

}

.h2 {
    font-size: 2rem;
    font-family: Calistoga, sans-serif;
    text-decoration: underline;
    margin: 25px 0;
}

.signup-text {
    padding: 0.1rem;
    margin-top: 1%;
    font-family: Montserrat, Arial;
}

.signup-form {
    padding: 2rem;
    width: 50%;
    margin: auto;
    border: 3rem;
    color: #495867;
}

.form-contents {
    border: 2rem;
    background-color: #BDD5EA;
    padding: 1rem;
}

.input-area {
    border-radius: 2em;
    padding: 1rem;
    align-items: center;
    display: flex;
}

.input-area label {
    width: auto;
    padding-right: 1rem;
    flex: 0.2;
}

.input-text {
    border: 0.1rem solid #495867;
    padding: 0.5rem;
    flex: 1.5;
    width: 30%;
}

.submit-button {
    text-align: center;
    padding: 1rem;
}

.submit {
    color: #F7F7FF;
    background-color: #495867;
    border: 0.1rem solid #495867;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.submit:hover{
    background-color: #FE5F55;
    color: #F7F7FF;
}

/* thankyou.html*/

.thank-you {
    margin: 2%;
    text-align: center;
}

.thanks-heading {
    font-family: Calistoga, sans-serif;
    font-size: 2.5rem;
    padding-bottom: 2%;
}

.thanks-paragraph {
    font-family: Montserrat, Arial;
    font-size: 1rem;
    padding-bottom: 1%;

}

.link {
    text-align: center;
}

/* footer*/

footer {
    background-color: #495867;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links {
    text-align: center;
    display: flex;
    justify-content: center;
}

.footer-icon {
    display: flex;
    list-style: none;
    font-size: 2rem;
    text-decoration: none;
    margin: 0 40px;
}

.footer-icon a {
    color: #F7F7FF;
    height: 2rem;
}

/* media queries for tablets mini*/

@media (max-width: 768px) {

    .about-image {
        width: 100%;
    }

    .iframe {
        width: 100%;
    }


    .about-flex {
        flex-direction: column-reverse;
    }


    .about-text {
        width: unset;
        padding: 50px;
        text-align: justify;
    }

    .signup-form {
        width: 80%;
        margin: unset;
    }

    .nav-area li {
        margin: unset;
    }
}

/* for small devices */
@media screen and (max-width:600px) {
    .about-image {
        width: 95%;
    }

    .footer-icon {
        font-size: 1rem;
    }

    .signup-form {
        width: 100%;
        margin: 0;
        padding: 1rem 0;
    }

    .signup-heading {
        margin-left: 0;

    }

    .signup-heading p {
        margin-left: 1.6rem;

    }

    .h2 {
        margin: 25px auto;
        width: fit-content;
    }

}

/* for extra small devices */
@media screen and (max-width:400px) {
    .main-text h1 {
        font-size: larger;
    }
}

/* ********** instant of adding Margin add padding ********* */